.header {
  justify-items: center;
}

.header__title {
  font-size: 36px;
  margin-bottom: 5px;
  margin-top: 10px;
  color: var(--textColor);
}

.container {
  text-align: center;
  display: grid;
}

.services {
  display: grid;
  gap: 20px;
}

.services__image {
  width: 550px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.services__image_active {
  width: 550px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
  transition: clip-path 0.3s ease;
}


.services__name_service {
  margin: 15px;
  font-size: 25px;
  color: var(--textColor);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__card_active{
  background-color: #b02424;

}

.details__wrapper {
  display: flex;
  justify-content: space-around;
}

.services__details {
  margin: 5px;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  min-height: 145px;
  max-height: 500px;
  display: grid;
  align-content: space-between;
}

.details__description {
  margin: 1px;
  color: var(--textColor);
  text-align: justify;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.services__card {
  position: relative;
  border: 1,5px solid var(--mainbg);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--mainbg);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  max-width: 550px;
  min-height: 250px;
  word-wrap: break-word;
  word-break: break-word;
}

.indicator {
  position: absolute;
  top: 10px;
  left: 94%;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(70, 68, 68, 0.93);
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.44);
  z-index: 3;
  transition: background-color 0.3s ease;
}

.services__card_active .indicator {
  background-color: green;
}

@media (max-width: 480px) {

}

@media (min-width: 768px) {
  .container {
    text-align: center;
    width: 100%;
    display: grid;
  }
}

@media (min-width: 1200px) {

  .header__title {
    font-size: 48px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: var(--textColor);
  }

  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .services__card {
    border-radius: 10px;
    max-width: 550px;
    min-height: 350px;
  }

  .services__image {
    width: 550px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
  }

  .services__image_active {
    height: 150px;
  }

  .services__name_service {
    margin: 5px;
    font-size: 28px;
  }

  .services__details p {
    margin: 5px;
    color: var(--textColor);
    font-size: 22px;
    font-weight: 500;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}
