.wrapper {
    color: var(--textColor);
    line-height: 1.6;
}

.wrapper__text {
    font-size: var(--font-size-heading);
    color: var(--textColor);
    text-align: justify;
}

@media (max-width: 480px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1200px) {
    .wrapper {
        color: var(--textColor);
        line-height: 1.6;
    }
}
