.container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 10px;
  justify-content: center;
}

.item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  font-size: 1.8rem;
  color: #aaaaaa;
}

.icon:hover {
  transform: scale(1.1);
  color: #ff6f61;
}

.title {
  margin: 0;
  font-size: 1rem;
  color: var(--textColor);
}

.text:hover {
  color: #ff6f61;
}

.text {
  margin: 5px 0 0;
  font-size: 1rem;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link_mail {
  text-decoration: none;
  color: inherit;
}

.link_mail:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
    justify-content: center;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .icon {
    font-size: 1.5rem;
  }

  .title {
    margin: 0;
    font-size: 0.88rem;
  }

  .text {
    margin: 5px 0 0;
    font-size: 0.8rem;
  }
}
