.container {
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 1px;
  color: var(--textColor);
}

.subtitle {
  color: #114f2e;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fields {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.field_group {
  position: relative;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #417257;
  border-radius: 5px;
  background-color: transparent;
  color: var(--textColor);
  box-sizing: border-box;
}

.input_red {
  border: 1px solid #ce1414;
}

.textarea {
  padding: 10px;
  resize: none;
  height: 150px;
  box-sizing: border-box;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.error_messages {
  margin: 5px 25px;
  color: var(--textColor);
}

.button {
  background-color: var(--mainbg);
  color: var(--textColor);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background-color: #396455;
}

@media (min-width: 1200px) {
  .container {
    width: 500px;
  }

  .header {
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
  }

  .title {
    font-size: 48px;
    margin-bottom: 15px;
    margin-top: 10px;
    color: var(--textColor);
  }

  .fields {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .field_group {
    position: relative;
  }

  .input,
  .textarea {
    font-size: 22px;
    border: 2px solid #417257;
  }

  .input_red {
    border: 2px solid #ce1414;
  }

  .textarea {
    padding: 10px;
    resize: none;
    height: 200px;
  }

  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

  .actions {
    display: flex;
  }

  .error_messages {
    margin: 5px 10px 5px 0 ;
    font-size: 20px;
    color: var(--textColor);
  }

  .button {
    border: none;
    border-radius: 5px;
  }
}






